<div layout="column" layout-align="center center" ng-cloak flex layout-margin>

  <!-- <md-content layout="column" layout-align="center center" layout-padding> -->
    <h2>Tests admin</h2>

    <md-list class="md-dense flex">

      <md-subheader>Existing tests</md-subheader>

      <md-list-item class="md-2-line" 
                    ng-repeat="test in $ctrl.tests | orderBy: '-updated_at' track by $index"
                    ui-sref="test({test: test._id})">

        <div class="md-list-item-text">

          <h3>{{ ::test.name }}</h3>

          <p>{{ ::test.description }}</p>  

        </div>

      </md-list-item>

    </md-list>

    <div style="visibility: hidden">

      <div class="md-dialog-container" id="testDialog">

        <md-dialog>

          <form name="$ctrl.newTestForm" ng-submit="$ctrl.createTest()">

            <md-dialog-content class="md-dialog-content new-test-dialog">

              <h3 class="md-title">Create new test</h3>


                <md-input-container>
                  <label>Name</label>
                  <input ng-model="$ctrl.test.name" required name="name">
                  <div ng-messages="$ctrl.newTestForm.name.$error">
                    <div ng-message="required">Your test needs to have a name.</div>
                  </div>
                </md-input-container>

                <md-input-container class="md-block">
                  <label>Description</label>
                  <textarea ng-model="$ctrl.test.description" md-maxlength="150" rows="5" md-select-on-focus required name="description"></textarea>
                  <div ng-messages="$ctrl.newTestForm.description.$error">
                    <div ng-message="required">A description is required.</div>
                    <div ng-message="md-maxlength">The description must be less than 150 characters long.</div>
                  </div>
                </md-input-container>

              

            </md-dialog-content>

            <md-dialog-actions layout="row">

              <md-button ng-click="$ctrl.cancel()">Cancel</md-button>

              <md-button type="submit">I'm ready</md-button>

            </md-dialog-actions>

          </form>

        </md-dialog>

      </div>

    </div>

    <!-- <form ng-submit="$ctrl.createTest()">
      <label>
        Test name
        <input type="text" name="name" ng-model="$ctrl.test.name">
      </label>
      <label>
        Test description
        <input type="text" name="description" ng-model="$ctrl.test.description">
      </label>

      <button type="submit">Create</button>
    </form> -->

</div>

<md-button class="md-fab md-primary md-fab-bottom-right" ng-click="$ctrl.openTestPrompt($event)">
  <md-icon md-svg-src="assets/images/ic_add_white_24px.svg"></md-icon>
</md-button>