<h2>{{ ::$ctrl.test.name }}</h2>
<p>{{ ::$ctrl.test.description }}</p>

<h3>Questions in this test:</h3>

<ul>
  <li ng-repeat="question in $ctrl.questions">
    <h4>{{ question.name }}</h4>
    <span>Type: {{ question.type }}</span>
    <p>{{ question.description }}</p>
    <ul>
      <li ng-repeat="answer in question.answers">{{ answer.name }} <span ng-if="answer.correct">(Correct)</span></li>
    </ul>
  </li>
</ul>

<form ng-submit="$ctrl.addQuestion()">
  <label>
    Question name
    <input type="text" name="name" ng-model="$ctrl.question.name">
  </label>
  <label>
    Question content
    <textarea ng-model="$ctrl.question.description"></textarea>
  </label>
  <label>
    Question type
    <label>
      <input type="radio" ng-model="$ctrl.question.type" value="open">
        Open
    </label>
    <label>
      <input type="radio" ng-model="$ctrl.question.type" value="code">
        Code
    </label>
    <label>
      <input type="radio" ng-model="$ctrl.question.type" value="choice">
        Choice
    </label>
  </label>

  <div ng-if="$ctrl.question.type === 'choice'"
       ng-init="$ctrl.question.answers = [{}]">
    <label>
      Possible Answers:
      <div ng-repeat="answer in $ctrl.question.answers">
        <input type="text" name="name" ng-model="answer.name">
        <label>
          Correct answer
          <input type="checkbox" ng-model="answer.correct">
        </label>  
      </div>
    </label>
    <button type="button" ng-click="$ctrl.question.answers.push({}); ">Add Possible Answer </button>
  </div>

  <button type="submit">Add a question</button>
</form>