<div layout="column" layout-align="center center" ng-cloak flex layout-margin>

  <div class="test__progress"
       ng-if="!$ctrl.done">
    <p class="test__progress-count">{{$ctrl.nextQuestion + 1}} / {{ $ctrl.questions.length }} </p>
    <div class="test__progress-bar-container">

      <div class="test__progress-bar"
           ng-style="{width: $ctrl.progress + '%'}"></div>

    </div>
  </div>

  <div class="centered fade-in"
       ng-if="$ctrl.nextQuestion < 0">
    
    <h2 class="md-display-2 margin">{{ ::$ctrl.test.name }}</h2>

    <p class="md-body-2 margin">
      {{ ::$ctrl.test.description }}
    </p>

    <md-button class="md-raised md-primary"
               ng-click="$ctrl.showConfirmationDialog($event)">Start the test</md-button>

  </div>

  <div style="visibility: hidden">

    <div class="md-dialog-container" id="confirmationDialog">

      <md-dialog>

        <md-dialog-content class="md-dialog-content">

          <h3 class="md-title">Are you sure?</h3>

          <p>This test involves {{ $ctrl.questions.length }} questions with multiple choices, open answers, or code.
          <br>
          Once you start this test there is no way to pause it. Your time will be logged.</p>

        </md-dialog-content>

        <md-dialog-actions layout="row">

          <md-button ng-click="$ctrl.cancel()">Cancel</md-button>

          <md-button ng-click="$ctrl.next()">I'm ready</md-button>

        </md-dialog-actions>

      </md-dialog>

    </div>

  </div>

  <h2 class="md-headline margin fade-in"
      ng-if="$ctrl.question">
      {{ ::$ctrl.test.name }}
  </h2>

  <div class="question centered slide-right"
       ng-repeat="question in $ctrl.questions track by $index"
       ng-if="$ctrl.nextQuestion === $index">

    <h3 class="md-display-2 margin">Question {{ $ctrl.nextQuestion + 1 }}: {{ question.name }}</h3>

    <pre class="margin md-body-2">{{ question.description }}</pre>

    <div ng-switch="question.type">

      <div ng-switch-when="code">
        <div id="editor" class="fade-in"></div>
        <!-- <textarea placeholder="code" ng-model="$ctrl.userContent"></textarea> -->
      </div>

      <div ng-switch-when="choice">
        <label ng-repeat="answer in question.answers track by $index">
          <input type="radio" name="choice" ng-value="'{{ answer._id }}'" ng-model="$ctrl.choice">
          <span>{{ answer.name }}</span>
        </label>
      </div>

      <div ng-switch-default>
        <md-input-container class="test__textarea">
          <label>Answer Here</label>
          <textarea ng-model="$ctrl.userContent" rows="10" md-select-on-focus></textarea>
        </md-input-container>
      </div>

    </div>

  </div>

  <div class="end centered"
       ng-if="$ctrl.done">

    <h3 class="md-display-2">Thank you for taking this test! You can close this page.</h3>
    
  </div>

  <div layout="row" layout-sm="column" layout-align="space-around" ng-if="$ctrl.loading">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>

  <div class="bottom">
    
    <md-button class="md-raised md-primary"
               ng-if="$ctrl.nextQuestion >= 0 &&
                      $ctrl.nextQuestion < $ctrl.questions.length - 1 && 
                      !$ctrl.loading"
               ng-click="$ctrl.next()">Next</md-button>

    <md-button class="md-raised md-primary"
               ng-if="$ctrl.nextQuestion >= 0 &&
                      $ctrl.nextQuestion === $ctrl.questions.length - 1 && 
                      !$ctrl.loading"
               ng-click="$ctrl.next()">Done!</md-button>

  </div>


  </div>