<div layout="column" layout-align="center center" ng-cloak flex layout-margin>

  <md-content layout="column" layout-align="center center" layout-padding layout-wrap>

    <h2>{{ ::$ctrl.test.name }}</h2>

    <p ng-if="!$ctrl.question">
      {{ ::$ctrl.test.description }}
    </p>

  </md-content>

  <md-button class="md-raised md-primary"
             ng-if="!$ctrl.question"
             ng-click="$ctrl.showConfirmationDialog($event)">Start the test</md-button>

  <div style="visibility: hidden">

    <div class="md-dialog-container" id="confirmationDialog">

      <md-dialog>

        <md-dialog-content class="md-dialog-content">

          <h3 class="md-title">Are you sure?</h3>

          <p>This test involves {{ $ctrl.questions.length }} questions with multiple choices, open answers, or code.
          <br>
          Once you start this test there is no way to pause it. Your time will be logged.</p>

        </md-dialog-content>

        <md-dialog-actions layout="row">

          <md-button ng-click="$ctrl.cancel()">Cancel</md-button>

          <md-button ng-click="$ctrl.next()">I'm ready</md-button>

        </md-dialog-actions>

      </md-dialog>

    </div>

  </div>

  <div class="question"
       ng-if="$ctrl.question && !$ctrl.done">

    <h3>Question {{ $ctrl.nextQuestion + 1 }}: {{ $ctrl.question.name }}</h3>
    <p>{{ $ctrl.question.description }}</p>

    <div ng-switch="$ctrl.question.type">

      <div ng-switch-when="code">
        <textarea placeholder="code" ng-model="$ctrl.userContent"></textarea>
      </div>

      <div ng-switch-when="choice">
        <label ng-repeat="answer in $ctrl.question.answers track by $index">
          <input type="radio" name="choice" ng-value="'{{ answer._id }}'" ng-model="$ctrl.choice">
          <span>{{ answer.name }}</span>
        </label>
      </div>

      <div ng-switch-default>
        <textarea placeholder="open question" ng-model="$ctrl.userContent"></textarea>
      </div>

    </div>

  </div>

  <div class="end"
       ng-if="$ctrl.done">

    <h3>Thank you for taking this test! You can close this page.</h3>
    
  </div>

  <div layout="row" layout-sm="column" layout-align="space-around" ng-if="$ctrl.loading">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>

  <md-button class="md-raised md-primary"
             ng-if="$ctrl.question && 
                    $ctrl.nextQuestion < $ctrl.questions.length - 1 && 
                    !$ctrl.loading"
             ng-click="$ctrl.next()">Next</md-button>

  <md-button class="md-raised md-primary"
             ng-if="$ctrl.question && 
                    $ctrl.nextQuestion === $ctrl.questions.length - 1 && 
                    !$ctrl.loading"
             ng-click="$ctrl.next()">Done!</md-button>

  </div>