<md-list class="flex">

  <md-toolbar layout="row" class="md-hue-2">
    <div class="md-toolbar-tools">
      <span>Answers</span>
    </div>
  </md-toolbar>

  <md-list-item class="md-2-line" 
                ng-repeat="answer in $ctrl.answers track by $index">

    <div class="md-list-item-text">

      <h3>{{ answer.question_id.name }}</h3>

      <pre class="md-caption">{{ answer.question_id.description }}</pre> 

      <pre class="md-caption">{{ answer.content }}</pre>  

    </div>

    <md-icon md-svg-src="/assets/images/ic_done_black_24px.svg"
             ng-if="answer.correct"></md-icon>

  </md-list-item>

</md-list>